#layout {
  header {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-column-gap: 1.25rem;
    justify-items: center;
    align-items: center;

    width: 100vw;

    font-weight: bold;
    font-size: 1.25rem;
  }
}
